{{ define "main" }}

<div class="publication">

  <h1>Selected Publications</h1>

  <h2 class="section-title">Search Agent</h2>
  <ul class="pub-list">
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2508.05748">WebWatcher: Breaking New Frontier of Vision-Language Deep Research Agent</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/WebAgent/tree/main/WebWatcher">[Code]</a>
          <a href="https://huggingface.co/collections/Alibaba-NLP/webagent-6878a9947443234bc6cbf9f4">[Model]</a>
          <a href="https://github.com/Alibaba-NLP/WebAgent/tree/main/WebWatcher/benchmark">[Data]</a>
        </span>
      </p>
      <p class="pub-authors">Xinyu Geng, Peng Xia, Zhen Zhang, Xinyu Wang, Qiuchen Wang, Ruixue Ding, Chenxi Wang, Jialong Wu, Yida Zhao, Kuan Li, Yong Jiang, Pengjun Xie, Fei Huang, Jingren Zhou</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2507.15061">WebShaper: Agentically Data Synthesizing via Information-Seeking Formalization</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/WebAgent/tree/main/WebShaper">[Code]</a>
          <a href="https://huggingface.co/collections/Alibaba-NLP/webagent-6878a9947443234bc6cbf9f4">[Model]</a>
          <a href="https://huggingface.co/datasets/Alibaba-NLP/WebShaper">[Data]</a>
        </span>
      </p>
      <p class="pub-authors">Zhengwei Tao, Jialong Wu, Wenbiao Yin, Junkai Zhang, Baixuan Li, Haiyang Shen, Kuan Li, Liwen Zhang, Xinyu Wang, Yong Jiang, Pengjun Xie, Fei Huang, Jingren Zhou</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2507.02592">WebSailor: Navigating Super-human Reasoning for Web Agent</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/WebAgent/tree/main/WebSailor">[Code]</a>
          <a href="https://huggingface.co/collections/Alibaba-NLP/webagent-6878a9947443234bc6cbf9f4">[Model]</a>
          <a href="https://github.com/Alibaba-NLP/WebAgent/blob/main/WebSailor/dataset/sailorfog-QA.jsonl">[Data]</a>
        </span>
      </p>
      <p class="pub-authors">Kuan Li, Zhongwang Zhang, Huifeng Yin, Liwen Zhang, Litu Ou, Jialong Wu, Wenbiao Yin, Baixuan Li, Zhengwei Tao, Xinyu Wang, Weizhou Shen, Junkai Zhang, Dingchu Zhang, Xixi Wu, Yong Jiang, Ming Yan, Pengjun Xie, Fei Huang, Jingren Zhou</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2505.22648">WebDancer: Towards Autonomous Information Seeking Agency</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/WebAgent/tree/main/WebDancer">[Code]</a>
          <a href="https://huggingface.co/collections/Alibaba-NLP/webagent-6878a9947443234bc6cbf9f4">[Model]</a>
          <a href="https://github.com/Alibaba-NLP/WebAgent/tree/main/WebDancer/datasets">[Data]</a>
        </span>
      </p>
      <p class="pub-authors">Jialong Wu, Baixuan Li, Runnan Fang, Wenbiao Yin, Liwen Zhang, Zhengwei Tao, Dingchu Zhang, Zekun Xi, Gang Fu, Yong Jiang, Pengjun Xie, Fei Huang, Jingren Zhou</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2505.22501">EvolveSearch: An Iterative Self-Evolving Search Agent</a>
      </p>
      <p class="pub-authors">Dingchu Zhang, Yida Zhao, Jialong Wu, Baixuan Li, Wenbiao Yin, Liwen Zhang, Yong Jiang, Yufeng Li, Kewei Tu, Pengjun Xie, Fei Huang</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2505.20285">MaskSearch: A Universal Pre-Training Framework to Enhance Agentic Search Capability</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/MaskSearch">[Code]</a>
        </span>
      </p>
      <p class="pub-authors">Weiqi Wu, Xin Guan, Shen Huang, Yong Jiang, Pengjun Xie, Fei Huang, Jiuxin Cao, Hai Zhao, Jingren Zhou</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2505.04588">ZeroSearch: Incentivize the Search Capability of LLMs without Searching</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/ZeroSearch">[Code]</a>
          <a href="https://huggingface.co/collections/Alibaba-NLP/zerosearch-6864ee36c2e69a30e9e9a20f">[Model]</a>
          <a href="https://huggingface.co/collections/Alibaba-NLP/zerosearch-6864ee36c2e69a30e9e9a20f">[Data]</a>
        </span>
      </p>
      <p class="pub-authors">Hao Sun, Zile Qiao, Jiayan Guo, Xuanbo Fan, Yingyan Hou, Yong Jiang, Pengjun Xie, Yan Zhang, Fei Huang, Jingren Zhou</p>
    </li>
  </ul>

  <h2 class="section-title">RAG</h2>
  <ul class="pub-list">
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2509.00520">Fusing Supervised Fine-Tuning and Reinforcement Learning for Effective and Efficient Text Reranking</a>
      </p>
      <p class="pub-authors">Yuzheng Cai, Yanzhao Zhang, Dingkun Long, Mingxin Li, Pengjun Xie, Weiguo Zheng</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2506.05176">Qwen3 Embedding: Advancing Text Embedding and Reranking Through Foundation Models</a>
        <span class="pub-data">
          <a href="https://huggingface.co/collections/Qwen/qwen3-embedding-6841b2055b99c44d9a4c371f">[Model]</a>
        </span>
      </p>
      <p class="pub-authors">Yanzhao Zhang, Mingxin Li, Dingkun Long, Xin Zhang, Huan Lin, Baosong Yang, Pengjun Xie, An Yang, Dayiheng Liu, Junyang Lin, Fei Huang, Jingren Zhou</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2505.22019">VRAG-RL: Empower Vision-Perception-Based RAG for Visually Rich Information Understanding via Iterative Reasoning with Reinforcement Learning</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/VRAG">[Code]</a>
          <a href="https://huggingface.co/autumncc/Qwen2.5-VL-7B-VRAG">[Model]</a>
        </span>
      </p>
      <p class="pub-authors">Qiuchen Wang, Ruixue Ding, Yu Zeng, Zehui Chen, Lin Chen, Shihang Wang, Pengjun Xie, Fei Huang, Feng Zhao</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2502.18017">ViDoRAG: Visual Document Retrieval-Augmented Generation via Dynamic Iterative Reasoning Agents</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/ViDoRAG">[Code]</a>
          <a href="https://huggingface.co/datasets/autumncc/ViDoSeek">[Data]</a>
        </span>
      </p>
      <p class="pub-authors">Qiuchen Wang, Ruixue Ding, Zehui Chen, Weiqi Wu, Shihang Wang, Pengjun Xie, Feng Zhao</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2501.07793">Unsupervised Query Routing for Retrieval Augmented Generation</a>
      </p>
      <p class="pub-authors">Feiteng Mu, Liwen Zhang, Yong Jiang, Wenjie Li, Zhen Zhang, Pengjun Xie, Fei Huang</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://aclanthology.org/2025.findings-naacl.248/">Unfolding the Headline: Iterative Self-Questioning for News Retrieval and Timeline Summarization</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/CHRONOS">[Code]</a>
        </span>
      </p>
      <p class="pub-authors">Weiqi Wu, Shen Huang, Yong Jiang, Pengjun Xie, Fei Huang, Hai Zhao</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2412.16855">GME: Improving Universal Multimodal Retrieal by Multimodal LLMs</a>
      </p>
      <p class="pub-authors">Xin Zhang, Yanzhao Zhang, Wen Xie, Mingxin Li, Ziqi Dai, Dingkun Long, Pengjun Xie, Meishan Zhang, Wenjie Li, Min Zhang</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2411.06207">Exploring Knowledge Boundaries in Large Language Models for Retrieval Judgment</a>
      </p>
      <p class="pub-authors">Zhen Zhang, Xinyu Wang, Yong Jiang, Zhuo Chen, Feiteng Mu, Mengting Hu, Pengjun Xie, Fei Huang</p>
    </li>
  </ul>

  <h2 class="section-title">Benchmark</h2>
  <ul class="pub-list">
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2506.21343">DynamicBench: Evaluating Real-Time Report Generation in Large Language Models</a>
      </p>
      <p class="pub-authors">Jingyao Li, Hao Sun, Zile Qiao, Yong Jiang, Pengjun Xie, Fei Huang, Hong Xu, Jiaya Jia</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2502.09977">LaRA: Benchmarking Retrieval-Augmented Generation and Long-Context LLMs--No Silver Bullet for LC or RAG Routing</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/LaRA">[Code]</a>
          <a href="https://github.com/Alibaba-NLP/LaRA/tree/main/datasets">[Data]</a>
        </span>
      </p>
      <p class="pub-authors">Kuan Li, Liwen Zhang, Yong Jiang, Pengjun Xie, Fei Huang, Shuai Wang, Minhao Cheng</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2501.07572">WebWalker: Benchmarking LLMs in Web Traversal</a>
        <span class="pub-data">
          <a href="https://github.com/Alibaba-NLP/WebAgent/tree/main/WebWalker">[Code]</a>
          <a href="https://huggingface.co/collections/callanwu/webwalker-677f6527407edfda44098b09">[Data]</a>
        </span>
      </p>
      <p class="pub-authors">Jialong Wu, Wenbiao Yin, Yong Jiang, Zhenglin Wang, Zekun Xi, Runnan Fang, Linhai Zhang, Yulan He, Deyu Zhou, Pengjun Xie, Fei Huang</p>
    </li>
  </ul>

  <h2 class="section-title">Agent-related</h2>
  <ul class="pub-list">
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://www.arxiv.org/abs/2508.06433">Memp: Exploring Agent Procedural Memory</a>
      </p>
      <p class="pub-authors">Runnan Fang, Yuan Liang, Xiaobin Wang, Jialong Wu, Shuofei Qiao, Pengjun Xie, Fei Huang, Huajun Chen, Ningyu Zhang</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2504.03561">SynWorld: Virtual Scenario Synthesis for Agentic Action Knowledge Refinement</a>
        <span class="pub-data">
          <a href="https://github.com/zjunlp/SynWorld">[Code]</a>
        </span>
      </p>
      <p class="pub-authors">Runnan Fang, Xiaobin Wang, Yuan Liang, Shuofei Qiao, Jialong Wu, Zekun Xi, Ningyu Zhang, Yong Jiang, Pengjun Xie, Fei Huang, Huajun Chen</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2405.14205">Agent Planning with World Knowledge Model</a>
        <span class="pub-data">
          <a href="https://github.com/zjunlp/WKM">[Code]</a>
        </span>
      </p>
      <p class="pub-authors">Shuofei Qiao, Runnan Fang, Ningyu Zhang, Yuqi Zhu, Xiang Chen, Shumin Deng, Yong Jiang, Pengjun Xie, Fei Huang, Huajun Chen</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2502.18023">Detecting Knowledge Boundary of Vision Large Language Models by Sampling-Based Inference</a>
      </p>
      <p class="pub-authors">Zhuo Chen, Xinyu Wang, Yong Jiang, Zhen Zhang, Xinyu Geng, Pengjun Xie, Fei Huang, Kewei Tu</p>
    </li>
    <li class="pub-item">
      <p class="pub-title">
        <a href="https://arxiv.org/abs/2501.09751">OmniThink: Expanding knowledge boundaries in machine writing through thinking</a>
        <span class="pub-data">
          <a href="https://github.com/zjunlp/OmniThink">[Code]</a>
        </span>
      </p>
      <p class="pub-authors">Zekun Xi, Wenbiao Yin, Jizhan Fang, Jialong Wu, Runnan Fang, Jiang Yong, Pengjun Xie, Fei Huang, Huajun Chen, Ningyu Zhang</p>
    </li>
  </ul>

</div>

{{ end }}